$p_font_size: 1em;
$font_weight: 600;

@mixin link_color($color) {
  color: $color;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Hind", "Fresca", sans-serif;
  color: $text_color;
  background-color: $main_background;
  // margin: auto;
}

.header {
  background-image: url($background_img);
  height: 36.25em;
  background-position: left -12.5em;
  background-size: cover;
  border-bottom-right-radius: 40%;

  .header-wrap {
    padding: 2% 50% 0% 10%;
  }
}

.landing-logo {
  position: relative;
  & p {
    text-align: center;
    position: absolute;
    display: inline;
    font-size: 1.25em;
    margin: 0%;
    font-weight: $font_weight;
  }
  span {
    display: block;
    font-size: 0.5em;
  }
}

.header_heading {
  font-size: 4em;
  font-weight: $font_weight;
  margin: 0.8em 0em;

  line-height: 1em;
  & span {
    background-color: $word;
    display: inline-block;
  }
}

.header_text {
  font-size: $p_font_size;
  color: $text_color;
}

button {
  font-size: 1em;
  background-color: $button_color;
  padding: 0.5em 2em;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 2em 8em 0em 0em;
}

.login {
  @include link_color(white);
}

.section {
  height: 1400px;
  .section_text {
    text-align: center;
    font-size: 2em;
    font-weight: $font_weight;
    & span {
      background-color: $word;
    }
  }
  .section_card_wrap {
    margin: 1% 15% 5%;
    .section_card_right_container {
      position: absolute;
      display: inline;
      margin: 5em 0em;
      line-height: 1.5em;
      text-align: center;
    }
    .section_card_heading {
      font-size: 2em;
    }
    .section_card {
      background-color: rgb(36, 32, 32);
      color: white;
      margin: 2em 0 2em 0;
      position: relative;
      border-radius: 15px;
    }
    .section_card_text {
      text-align: left;
      font-size: 1em;
      margin: 2em;
      color: #d5d2d2;
    }
    & a {
      @include link_color(#d5d2d2);
    }
    img {
      padding: 2em;
      width: 400px;
      height: 300px;
      border-radius: 35px;
    }
  }
}

.section_banner {
  z-index: 1;
  position: relative;
  top: -20px;
  background: linear-gradient($gradient);
  margin: 0% 10% 10% 10%;
  border-radius: 5px;
  padding: 1% 5% 3%;
  & button {
    position: absolute;
    display: inline;
    right: 0;
    top: 30px;
  }
  .section_banner_heading {
    font-size: 1.5em;
    font-weight: $font_weight;
  }
  & span {
    background-color: $word;
  }
  .section_banner_text {
    font-size: 0.8em;
    color: #d5d2d2;
  }
}

.footer-wrap {
  position: relative;
  // display: block;
  background-color: rgb(36, 32, 32);
  color: #d5d2d2;
  padding: 5em;
  .footer_text,
  .footer-cr {
    font-size: 0.8em;
    max-width: 250px;
    display: inline-flex;
    padding: 0% 15%;
  }
}

.footer_logo {
  position: absolute;
  display: inline;
  width: min-content;
  top: 40%;
}
