$background_img: "../img/m-h-night.jpg";
$word: rgb(226, 69, 21);
$button_color: rgb(236, 166, 14);
$gradient: (to right, rgb(248, 179, 89), rgb(165, 55, 4));
$main_background: rgb(71, 70, 70);
$text_color: white;
