$background_img: "../img/m-h-day.jpg";
$word: rgb(61, 180, 216);
$button_color: rgb(110, 172, 18);
$gradient: (to right, rgb(5, 167, 5), rgb(80, 80, 231));
$main_background: white;
$text_color: #282828;
